/* sessao contatos*/
#contatos {
    background-color: #FF3131;
    padding: 32px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 320px;

    #contacts_container {
        width: 50%;

        h2 {
            font-size: 2rem;
            font-weight: 500;
            color: rgb(255, 255, 255);
            margin-bottom: 20px;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            color: rgb(255, 255, 255);
            width: 80%;
        }

        #cards_container {
            
            display: flex;
            flex-direction: column;
           
            background-color: #ED2B2B;
            padding: 18px 12px;
            border-radius: 8px;

            p {
                margin: 0;
                font-size: 1rem;
            }

            p strong {
                font-size: 1.1rem;
                display: block;
                margin-bottom: 8px;
            }
        }

        #cards_container_info {
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            
            .contact_card {
                display: flex;
                align-items: center;
                gap: 8px;
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
                padding: 18px 12px;
                text-decoration: none;
                background-color: #ED2B2B; 
                border-radius: 8px; 
                color: white; 
                
                .card-icon {
                    font-size: 1.3rem; 
                    color: white; 
                    width: 30px; 
                    text-align: center; 
                }

                .card-infos {
                    p {
                        margin: 0;
                        font-weight: bold;
                        font-size: 0.9rem;
                        color: white; 
                    }

                    span {
                        font-size: 0.85rem;
                        color: rgba(255, 255, 255, 0.9); 
                    }
                }
            }
        }
    }

    #contatos-form-container {
        width: 50%;
        
            }
        }
    