
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


/* sessao SOBRE*/
.about{
    background-color:  #006B92;
    overflow: hidden;
    color:  #140b0bd7;
}


.about-content {
    display: flex;
    align-items: justify;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

   
}


.about-content div{
  flex: 1;  
}

.about-description{
    h2{   
        text-transform: uppercase;     
        font-size: 29px;
        margin-bottom: 24px;
         text-align: center;
         color: #120808;
    }

    p{
        margin-bottom: 14px;
        line-height: 150%;
        color: #F5F5F5;
        text-align: justify;
    
    }

    strong{
        color: #1ab4d0;

    }


    .course-info {
        max-width: 800px;      
        margin: 0 auto;        
        padding: 0 20px;      
    }

    .course-info p {
        margin-bottom: 16px;   
        line-height: 1.5;      
        text-align: justify;
    }


}

/* Responsividade */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-texto p {
    text-align: justify;
  }
}

/* fim sessao about - SOBRE*/





/*  sessao disciplinas */
.disciplinas {
    background-color: #F5F5F5;
    color: #120808;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.disciplinas-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
}

.disciplinas-content p{
   line-height: 150%;
   margin-bottom: 14px;
   text-align: center;
   max-width: 780px; 
}

.galeria-disciplinas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 44px 34px 44px;
}

.foto-disciplinas {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color:  #F5F5F5;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0,0,0, 0.45);

    overflow: hidden;

    img{
        width: 100%;
        max-width: 300px;
        transition: transform 0.2s;
    }
}

    .foto-disciplinas img:hover{
        transform: scale(1.2);
        z-index: 1;
    }

    .foto-disciplinas-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 14px;
        background-color: #F5F5F5;
        z-index: 99;
        text-align: center;

    }

    .disciplinas-info {
        max-width: 900px;      
        margin: 0 auto;        
        padding: 0 10px;      
    }

    .disciplinas-info p {
        margin-bottom: 40px;   
        line-height: 1.4;      
        text-align: justify;
    }


    .disciplinas strong{
        color: #006B92;

    }



 /* botapo */
    .button-ppc {
        display: inline-block;
        margin-top: 28px;
        padding: 14px 28px;
        color: #0c0404;
        background-color: #1ab4d0;
        border: 0;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-left: 15%;
    }

    .button-ppc:hover {
     animation: scaleButton 0.8s alternate infinite;
    }

    @keyframes scaleButton {
        from {
            transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
    }

 
/* responsividade adapdanddo em coluna as fotos  */
@media screen and (max-width: 768px) {
    .galeria-disciplinas{
        flex-direction: column;
    }


   .foto-disciplinas img{
        max-width: 320px;
    }  

    
   .disciplinas-content {
        flex-direction: column;
        text-align: center;
  }


   .disciplinas-texto p {
        text-align: justify;
  }

   .button-ppc {
        flex-direction: column;
  }

}
/* //fim Sessao - disciplinas*/






/*  sessao Carreiras */
.carreiras {
    background-color: #5AC8BD;
    color: #120808;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}



.carreiras-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
    color: #000;
}

.carreiras-content p{
   line-height: 150%;
   margin-bottom: 14px;
   text-align: center;
   max-width: 780px;
    
   
}



.galeria-carreiras {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 44px 34px 44px;
}

.foto-carreiras{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color:  #F5F5F5;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0,0,0, 0.45);

    overflow: hidden;

    img{
        width: 100%;
        max-width: 300px;
        transition: transform 0.2s;
    }
}

    .foto-carreiras img:hover{
        transform: scale(1.2);
        z-index: 1;
    }

    .foto-carreiras-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 14px;
        background-color: #F5F5F5;
        z-index: 99;
        text-align: center ;
              
}


    .foto-carreiras-info p{
        color: #000;    

    }   
    
    .foto-carreiras-info strong{
        color: #000;
        
    }
  

    .carreiras-info {
        max-width: 900px;      
        margin: 0 auto;        
        padding: 0 10px;
        color: #F5F5F5;
              
    }

    .carreiras-info p {
        margin-bottom: 40px;   
        line-height: 1.4;      
        text-align: justify;
        color: #F5F5F5;
    }


    .carreiras {
        color: #F5F5F5;

    }
 

 /* botapo */
    .button-carreira {
        display: inline-block;
        margin-top: 28px;
        padding: 14px 28px;
        color: #0c0404;
        background-color: #F5F5F5;
        border: 0;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-left: 15%;
    }

    .button-carreira:hover {
     animation: scaleButton 0.8s alternate infinite;
    }

    
    @keyframes scaleButton {
        from {
            transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
    }

 

/* responsividade adapdanddo em coluna as fotos  */
@media screen and (max-width: 768px) {
    .galeria-carreiras{
        flex-direction: column;
    }


   .foto-carreiras img{
        max-width: 320px;
    }  

    
   .carreiras-content {
        flex-direction: column;
        text-align: center;
  }


   .carreiras-info p {
        text-align: justify;
  }

   .button-carreiras {
        flex-direction: column;
  }

}


/* //fim Sessao - carreiras*/




/* sessao Empresa Junior */
    .empresa {
        background-color: #fff;
        color: #190808;
    }

    .empresa-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 120px 14px 80px 14px;
    }

    /* Logo */
    .empresa-logo img {
        max-width: 320px;
        width: 100%;
        margin-left: -30%;
    }

  
    .empresa-text {
        max-width: 600px;
    }

    .empresa-text h2 {
        text-transform: uppercase;
        font-size: 36px;
        margin-bottom: 32px;
        text-align: center;
    }

    .empresa-texto p {
        margin-bottom: 18px;
        line-height: 150%;
        text-align: justify;
    
    }


    .empresa-info {
        max-width: 800px;      
        margin: 0 auto;        
        padding: 0 20px;      
    }

    .empresa-info p {
        margin-bottom: 16px;   
        line-height: 1.4;      
        text-align: justify;
    }




    strong {
        color: #1ab4d0;
    }


 /* botapo */
    .button-contact {
        display: inline-block;
        margin-top: 28px;
        padding: 14px 28px;
        color: #0c0404;
        background-color: #1ab4d0;
        border: 0;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-left: 15%;
    }

    .button-contact:hover {
     animation: scaleButton 0.8s alternate infinite;
    }

    @keyframes scaleButton {
        from {
            transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
    }

    /* Responsividade */
    @media (max-width: 900px) {
    .empresa-content {
        flex-direction: column;
        text-align: center;
    }

    .empresa-texto p {
        text-align: justify;
    }
}
/* fim sessao Empresa Junior */





/* inicio sessao contatos */
    .contatos {
        background-color: #FF3131;
        padding: 80px 0;
        color: #ffffff;
      


    }

    /* container */
    .contatos-content {
        max-width: 1200px;
        margin: 0 auto;    
        padding: 0 40px; 
        display: flex;
        gap: 60px;
        align-items: flex-start;
        margin-top: 5%;
        margin-bottom: 70px;
    }

    /* coluna esquerda */
    .contatos-info {
        flex: 1;
    }

    .contatos-info h2 {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .contatos-info p {
        margin-bottom: 14px;
        line-height: 1.6;
    }



    .contatos-info strong {
        color:  #ccc;
    }

    /* coluna direita */
    .contatos-form {
        flex: 1;
    }

    .contatos-form form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contatos-form label {
        font-size: 14px;
    }

    .contatos-form input,
        .contatos-form textarea {
        padding: 10px;
        border-radius: 4px;
        border: none;
        outline: none;
    }

    .contatos-form textarea {
        min-height: 120px;
        resize: none;
    }

    /* botao */
    .form-buttons {
        display: flex;
        gap: 12px;
        margin-top: 10px;
    }

    .btn-enviar {
        background-color: #333;
        color: #fff;
        padding: 8px 18px;
        border: none;
        cursor: pointer;
    }

    .btn-cancelar {
        background-color: #ccc;
        color: #000;
        padding: 8px 18px;
        border: none;
        cursor: pointer;
    }




        
    .btn-enviar, 
    .btn-cancelar:hover {
        animation: scaleButton 0.8s alternate infinite;
    }

    @keyframes scaleButton {
        from {
            transform: scale(1);
    }
        to {
            transform: scale(1.07);
     }
    }


    /* Responsividade */
    @media (max-width: 780px) {
    .contatos-content {
        flex-direction: column;
        text-align: justify;
    }

    .contatos-texto p {
        text-align: justify;
    }


    }
/* fim sessao contatos */
