@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url(/css/navbar.css);
@import url(/src/css/layout.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}





button{
  font-family: 'Sora' , sans-serif;
  cursor: pointer;

}

svg{
  width: 100%;
}


a{
  cursor: pointer;
  text-decoration: none;
}

