@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url(/css/navbar.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
